<p id="notice"><%= notice %></p>

<h1>Listing Promos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Product</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= promo.title %></td>
        <td><%= promo.content %></td>
        <td><%= promo.product %></td>
        <td><%= promo.start_date %></td>
        <td><%= promo.finish_date %></td>
        <td><%= promo.discount %></td>
        <td><%= link_to 'Show', promo %></td>
        <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
        <td><%= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo', new_promo_path %>
