<h1>Listando productos</h1>

<table>
	<tr>
		<th>Reference</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Brand</th>
		<th>Name</th>
		<th>Description</th>
		<th>Size</th>
		<th>Color</th>
	</tr>
	<% @products.each do |product|%>
		<tr>
			<td><%= product.ref%></td>
			<td><%= product.price%></td>
			<td><%= product.quantity%></td>
			<td><%= product.brand%></td>
			<td><%= product.name%></td>
			<td><%= product.description%></td>
			<td><%= product.size%></td>
			<td><%= product.color%></td>
			<td><%= link_to 'Ver producto...', product_path(product)%></td>
		</tr>
	<% end %>		
</table>